@use 'styles/utils';

.size {
    &__inner {
        padding: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--base_100);
        border-radius: 8px;
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 710px;
        overflow: hidden;
        border-radius: 8px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__title {
        margin-bottom: 56px;
        max-width: 475px;
        @include utils.header-200;
        text-align: center;
    }

    &__mini-image {
        object-fit: cover;
        object-position: center;
        margin: 0 auto 56px;
        width: 174px;
        height: 238px;
        overflow: hidden;
        border-radius: 500px;
    }

    &__item {
        aspect-ratio: 1;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        font: var(--text_100) !important;
        border-radius: 100%;
        border: 1px solid hsla(7, 15%, 34%, 0.35);
        @include utils.text-400-th-100-upper;
        @include utils.transition((color, background-color));

        &:hover {
            border-color: var(--base_400);
        }

        &.active {
            color: var(--base_100);
            background-color: var(--base_400);
        }
    }

    &__list {
        position: relative;

        .swiper {
            position: static;
            width: 456px;
        }

        &-navigation-prev,
        &-navigation-next {
            position: absolute;
            z-index: 1;
            top: 50%;
            translate: 0 -50%;
        }

        &-navigation-prev {
            left: -48px;
        }

        &-navigation-next {
            top: 50%;
            right: -48px;
            transform: rotate(180deg);
        }
    }

    &__link {
        gap: 4px;
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        @include utils.text-400-th-100-upper;
        opacity: 0.5;

        &::after {
            content: '';
            width: 100%;
            height: 0.5px;
            background-color: var(--base_400);
        }

        &:hover {
            opacity: 1;

            &::after {
                width: 0;
                @include utils.transition(all);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .size {
        &__inner {
            padding: 40px 0;
            flex-direction: column;
            overflow: hidden;
        }

        &__image {
            display: none;
        }

        &__title {
            margin-bottom: 28px;
            padding: 0 41px;
        }

        &__mini-image {
            margin-bottom: 28px;
        }

        .swiper {
            padding: 0 32px;
        }

        &__list {
            width: 100%;

            &-navigation-prev,
            &-navigation-next {
                display: none;
            }

            .swiper {
                width: auto;
            }
        }

        &__item {
            width: 60px;
            max-width: 60px;
            height: 60px;
        }

        &__link {
            margin-top: 32px;
        }
    }
}
