@use 'styles/utils';

.size {
    .container {
        padding: 20px 120px 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--base_100);
        border-radius: 8px;
    }

    &__image {
        object-fit: cover;
        object-position: center;
        width: 780px;
        height: 710px;
        overflow: hidden;
        border-radius: 8px;
    }

    &__content {
        width: 100%;
        max-width: 552px;
    }

    &__title {
        margin-bottom: 56px;
        font: var(--header_200);
        letter-spacing: 0.02rem;
        text-align: center;
        text-transform: uppercase;
    }

    &__mini-image {
        object-fit: cover;
        object-position: center;
        margin: 0 auto 56px;
        width: 174px;
        height: 238px;
        overflow: hidden;
        border-radius: 500px;
    }

    &__item {
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        font: var(--text_100);
        letter-spacing: 0.02rem;
        text-transform: uppercase;
        border-radius: 100%;
        border: 1px solid hsla(7, 15%, 34%, 0.35);
    }

    &__list {
        position: relative;
        .swiper {
            position: static;
            width: 456px;
        }
        &-navigation-prev,
        &-navigation-next {
            position: absolute;
            z-index: 1;
        }
        &-navigation-prev {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        &-navigation-next {
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(180deg);
        }
    }

    &__link {
        margin-top: 48px;
        display: block;
        font: var(--text_400);
        letter-spacing: 0.02rem;
        text-align: center;
        text-decoration: underline;
        text-transform: uppercase;
        opacity: 0.5;
    }
}

@media only screen and (max-width: 1000px) {
    .size {
        .container {
            margin: 0 28px;
            padding: 40px 0;
            flex-direction: column;
            overflow: hidden;
        }

        &__image {
            display: none;
        }

        &__title {
            margin-bottom: 28px;
            padding: 0 41px;
        }

        &__mini-image {
            margin-bottom: 28px;
        }

        &__list {
            &-navigation-prev,
            &-navigation-next {
                display: none;
            }

            .swiper {
                width: auto;
            }
        }

        &__item {
            max-width: 60px;
            height: 60px;
            &:first-child {
                margin-left: 41px;
            }
        }

        &__link {
            margin-top: 32px;
        }
    }
}
