@use 'styles/utils';

.shops {
    .container:has(.shops__item-wrapper) {
        padding-bottom: 160px;
    }

    &__general {
        margin: 24px auto 0;
        width: fit-content;
        text-align: center;
    }

    &__tel {
        display: flex;
        flex-direction: column;
        @include utils.header-300;
        cursor: pointer;

        &:hover {
            opacity: 0.5;

            span {
                opacity: initial;
            }
        }

        span {
            @include utils.text-300-th-100;
            margin-top: 4px;
            opacity: 0.5;
        }
    }

    &__socials {
        margin-top: 24px;
        justify-content: center;
    }

    &__actions {
        margin-top: -24px;
        margin-bottom: 48px;
        display: flex;
        justify-content: space-between;
    }
    &__map {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        @include utils.text-400-th-100-upper;
        gap: 4px;
        align-items: center;

        &:hover {
        }
    }

    &__decor {
        margin-bottom: 56px;
        width: 100%;
        /* @skip-scaling */
        height: 1px;
        background-image: var(--dashed-line);
    }

    &-slider {
        display: none;

        &._active {
            display: block;
        }
        &__navigation {
            position: absolute;
            z-index: 1;
            top: 50%;
            translate: 0 -50%;
            padding: 0 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-prev,
            &-next {
                width: calc(69 * var(--screen-delta) + 69px);
                height: calc(46 * var(--screen-delta) + 46px);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background-color: hsla(0, 0%, 100%, 0.15);
                border-radius: 100%;
                transition: background-color 300ms ease-in-out;

                &:after {
                    content: '';
                    width: calc(44 * var(--screen-delta) + 44px);
                    height: calc(22 * var(--screen-delta) + 22px);
                    filter: var(--filter-base_100);
                    background-image: url('assets/icons/arrow-right.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &-prev {
                rotate: 180deg;
            }
        }
    }

    &__item {
        height: 850px;

        &-image {
            object-fit: cover;
            object-position: center;
            width: 100%;
            height: 100%;

            &-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                overflow: hidden;

                border-radius: 500px;

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background-image: linear-gradient(91deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
                }
            }
        }

        &-info {
            position: absolute;
            z-index: 1;
            bottom: 40px;
            left: 50%;
            translate: -50% 0;
            padding: 60px 98px;
            width: 506px;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--base_100);
            border-radius: 258px;

            &-item {
                @include utils.text-400-th-100;
                margin-bottom: 6px;
            }
        }

        &-tel {
            @include utils.text-300-lg-100;
            gap: 10px;
            margin: 24px 0;
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;

            .icon {
                border-radius: 100%;
                border: 1px solid var(--base_400);
            }
        }

        &-way {
            @include utils.text-400-th-100-upper;
            gap: 6px;
            width: fit-content;
            display: flex;
            flex-direction: column;

            &::after {
                content: '';
                width: 100%;
                height: 0.5px;
                background-color: var(--base_400);
            }

            &:hover {
                opacity: 1;

                &::after {
                    width: 0;
                    @include utils.transition(all);
                }
            }
        }

        &-address {
            @include utils.text-200-lg-100;
            margin-bottom: 12px;
        }
    }

    &__selector {
        position: relative;
        display: flex;
        @include utils.text-200-lg-100;
        gap: 12px;
        cursor: pointer;

        &._opened {
            .shops__selector-list {
                opacity: 1;
                visibility: visible;
            }
        }

        .icon {
            rotate: 90deg;
        }

        &-list {
            gap: 12px;
            position: absolute;
            z-index: 1;
            top: 160%;
            left: -30px;
            padding: 20px;
            width: fit-content;
            min-width: 220px;
            display: flex;
            flex-direction: column;
            font-size: 1.1rem;
            font-weight: 300;
            line-height: 120%;
            text-transform: uppercase;
            opacity: 0;
            visibility: hidden;
            background-color: var(--base_100);
            border-radius: 4px;

            @media only screen and (min-width: 2000px) {
                font-size: 13px;
            }

            &:after {
                content: '';
                position: absolute;
                top: -10px;
                right: 55px;
                width: 18px;
                height: 18px;
                background-image: url('data:image/svg+xml,<svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.13398 0.499999C7.51888 -0.166668 8.48112 -0.166667 8.86602 0.5L14.9282 11C15.3131 11.6667 14.832 12.5 14.0622 12.5H1.93782C1.16802 12.5 0.686897 11.6667 1.0718 11L7.13398 0.499999Z" fill="white"/></svg>');
                background-size: cover;
            }
        }

        &-item {
            gap: 10px;
            display: flex;
            align-items: center;
            cursor: pointer;

            &::before {
                content: '';
                @include utils.circle(21px);
                border: 1px solid var(--base_400);
            }

            input {
                position: absolute;
                opacity: 0;
                visibility: hidden;
            }

            &:has(input:checked) {
                &::before {
                    border-width: 8px;
                }
            }
        }

        &._opened {
            .shops__selector-list {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .shops {
        .container:has(.shops__item-wrapper) {
            padding-bottom: 80px;
        }
        &__general {
            margin-top: 12px;
        }

        &__actions {
            margin-top: 40px;
            margin-bottom: 16px;
        }

        &__selector {
            @include utils.text-300-lg-100;
            gap: 8px;

            .icon {
                width: 20px;
                height: 20px;
            }

            &-list {
                z-index: 2;
                left: -100%;
                min-width: 180px;
            }
        }

        &-slider {
            height: 495px;
        }

        &__item {
            height: 220px;
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image {
                &-wrapper {
                    height: 220px;
                    min-height: 220px;
                }
            }
            &-wrapper {
                height: fit-content;
            }

            &-info {
                position: absolute;
                z-index: -1;
                top: 0;
                left: auto;
                translate: 0;
                padding: 252px 69px 64px 70px;
                width: 100%;
                height: 495px;
                border-radius: 110px;
            }

            &-address {
                text-wrap: nowrap;
            }
        }
    }
}
