@use 'styles/utils';

.product-item {
    position: relative;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px dashed hsl(0, 0%, 0%, 0.5);

    &._layout {
        display: none;
    }

    &__image {
        object-position: center;
        object-fit: cover;
        margin-right: 19px;
        min-width: 90px;
        height: 120px;
        overflow: hidden;
        border-radius: 140px;
    }

    &__main-info {
        width: 100%;
        max-width: 220px;

        &:has(.product-item__cart) {
            .product-item__counter {
                display: none;
            }
        }

        &:has(.product-item__cart._hidden) {
            .product-item__counter {
                margin-top: 20px;
                display: flex;
            }
        }
    }

    &__title {
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        margin-bottom: 8px;
        display: -webkit-box;
        overflow: hidden;
        font-family: var(--forum);
        font-size: 2rem;
        letter-spacing: 0.02rem;
        line-height: 110%;
        text-transform: uppercase;
    }

    &__size {
        margin-bottom: 16px;
        font: var(--text_300);
        opacity: 0.5;
    }

    &__brand {
        font: var(--text-lg_500);
        text-transform: uppercase;
        opacity: 0.5;
    }

    &__cart {
        margin-top: 20px;
        padding-bottom: 4px;
        font: var(--text_400);
        letter-spacing: 0.02rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--base_400);

        &._hidden {
            display: none;
        }
    }

    &__counter {
        gap: 4px;
        width: fit-content;
        display: flex;
        font: var(--text_300);
    }

    &__price-info {
        gap: 8px;
        margin-left: auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-self: end;
        font: var(--text_300);
    }

    &__price {
        text-wrap: nowrap;
        &:first-child {
            text-decoration: line-through;

            &:only-child {
                text-decoration: none;
            }
        }
    }

    &__close,
    &__favorite {
        position: absolute;
        top: 0;
        right: 0;

        .icon {
            width: 18px;
            height: 18px;
        }
    }

    &__link {
        padding-bottom: 4px;
        width: fit-content;
        display: none;
        font: var(--text_400);
        letter-spacing: 0.02rem;
        text-transform: uppercase;
        border-bottom: 1px solid var(--base_400);
    }

    &__notification {
        gap: 4px;
        margin-bottom: 16px;
        display: none;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: end;
        font: var(--text_300);
        opacity: 0.5;

        .icon {
            width: 14px;
            height: 14px;
        }
    }

    &._out-of-stock {
        .product-item__image {
            opacity: 0.7;
        }

        .product-item__counter,
        .product-item__size,
        .product-item__price-info {
            display: none;
        }

        .product-item__notification {
            display: flex;
        }

        .product-item__link {
            display: block;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .product-item {
        padding-bottom: 16px;
        &__image {
            margin-right: 16px;
            width: 76px;
            min-width: 76px;
            height: 102px;
        }

        &__title {
            margin-bottom: 6px;
            max-width: 186px;
            font: var(--header_300);
        }

        &__size {
            margin-bottom: 12px;
        }

        &__counter {
        }

        &__price,
        &__discount-price {
            text-wrap: nowrap;
        }
    }
}
