@use 'styles/utils';
@use 'layout/header/catalog/catalog';

.header {
    position: relative;
    z-index: 1;
    height: var(--header-height);
    color: var(--base_400);
    font: var(--text-lg_300);
    letter-spacing: 0.01rem;
    background-color: var(--base_200);
    border-bottom: 1px solid hsl(7, 15%, 34%, 0.2);

    &__mobile {
        &-burger,
        &-search-button,
        &-buttons,
        &-socials,
        &-tel {
            display: none;
        }
    }

    &._active {
        .header-catalog {
            opacity: 1;
            visibility: visible;
        }
    }

    .container {
        display: flex;
        align-items: center;
    }

    &-menu {
        gap: 375px;
        display: flex;
        align-items: center;

        &--left,
        &--right {
            gap: 30px;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &__item {
            padding: 46px 0;
            &:has(.header-menu__item-submenu) {
                position: relative;

                &:hover {
                    .header-menu__item-submenu {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &-submenu {
                gap: 10px;
                position: absolute;
                bottom: 20px;
                translate: 0 100%;
                padding: 20px;
                display: flex;
                flex-direction: column;
                opacity: 0;
                visibility: hidden;
                background: var(--base_100);
                border-radius: 4px;

                &-item {
                    color: var(--base_400);
                    font: var(--text_400);
                    text-wrap: nowrap;
                }
            }
        }
    }

    &__buttons {
        gap: 18px;
        margin-left: auto;
        display: flex;
        align-items: center;

        button {
            @include utils.square(24px);
            @include utils.bg-defaults(cover);
        }

        &-search {
            background-image: url('assets/icons/search.svg');
        }
        &-user {
            background-image: url('assets/icons/user.svg');
        }
        &-favorite {
            background-image: url('assets/icons/favorite.svg');
        }
        &-cart {
            background-image: url('assets/icons/cart.svg');
        }
    }

    &__geo-button {
        gap: 4px;
        margin-right: auto;
        display: flex;
        align-items: center;

        &::before {
            content: '';
            @include utils.square(24px);
            @include utils.bg-defaults(cover);
            background-image: url('assets/icons/geo.svg');
        }
    }

    &__search--mobile {
        display: none;
    }

    &__logo {
        filter: var(--filter-base_400);
        position: absolute;
        z-index: 10;
        top: 24px;
        left: 50%;
        translate: -50% 0;
    }
}

@media only screen and (max-width: 1000px) {
    .header {
        .container {
            padding: 47px 28px 32px;
            max-width: 100%;
        }

        &._opened {
            .header-menu {
                opacity: 1;
                visibility: visible;
            }
        }

        &__mobile {
            &-burger {
                margin-right: 20px;
                width: 23px;
                height: 17px;
                display: flex;
                flex-direction: column;
                justify-content: end;
                border-top: 2px solid var(--base_400);

                &::before,
                &::after {
                    content: '';
                    height: 2px;
                    background-color: var(--base_400);
                }

                &::before {
                    width: 70%;
                }

                &::after {
                    margin-top: 6px;
                    width: 50%;
                }
            }
            &-search-button {
                display: block;
                background-image: url('assets/icons/search.svg');
                @include utils.bg-defaults(cover);
                @include utils.square(24px);
            }
            &-buttons {
                gap: 10px;
                margin-top: 30px;
                display: flex;

                button {
                    filter: var(--filter-base_400);
                    padding: 14px;
                    width: 162px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font: var(--text-lg_300);
                    letter-spacing: 0.01rem;
                    border-radius: 4px;
                    border: 1px solid hsla(7, 15%, 34%, 0.2);

                    &::after {
                        content: '';
                        @include utils.square(24px);
                        @include utils.bg-defaults(24px);
                        align-self: end;
                    }
                }

                &-geo::after {
                    background-image: url('assets/icons/geo.svg');
                }

                &-user::after {
                    background-image: url('assets/icons/user.svg');
                }
            }
            &-tel {
                margin-top: 32px;
                display: block;
                font: var(--text-lg_200);
            }
            &-work-hours {
                margin-top: 6px;
                font: var(--text_400);
                opacity: 0.5;
            }
            &-socials {
                margin-top: auto;
                display: flex;
            }
        }

        &-menu {
            gap: 0;
            position: fixed;
            top: var(--header-height);
            bottom: 0;
            left: 0;
            padding: 0 28px 47px;
            width: 100%;
            flex-direction: column;
            align-items: start;
            opacity: 0;
            visibility: hidden;
            background-color: var(--base_200);

            &--left,
            &--right {
                gap: 0;
                width: 100%;
                flex-direction: column;
                align-items: start;
            }

            &--right {
                border-bottom: 1px dashed hsl(7, 15%, 34%, 0.25);
            }

            &__item {
                padding: 16.5px 0;
                width: 100%;
                font: var(--text-lg_200);
                letter-spacing: 0.01rem;
                border-top: 1px dashed hsl(7, 15%, 34%, 0.25);
            }
        }

        &__geo-button {
            display: none;
        }
        &__logo {
            top: 47px;
            width: 67px;
            height: 35px;
        }

        &__buttons {
            margin: 0 0 0 auto;

            &-search,
            &-user {
                display: none;
            }
        }
    }
}
