include layout/utils

+section.about-block
    .about-block__text!= `Мы предлагаем разнообразные <img src='assets/static/about-block.png' class='about-block__image'> модели трусиков, бюстгальтеров и нижнего белья`
    +anchor.about-block__link о компании
