@use 'styles/utils';

.breadcrumbs {
    position: relative;
    z-index: 1;
    margin: 32px 0 30px;

    &__list {
        display: flex;
        align-items: center;

        &-item {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            opacity: 0.5;
            @include utils.text-400-th-100;
            @include utils.transition(opacity);

            &:hover {
                opacity: 1;
            }

            &::after {
                content: '';
                margin: 0 8px;
                width: 14px;
                height: 7px;
                display: block;
                filter: var(--filter-base_400);
                background-image: url('assets/icons/arrow-right.svg');
                @include utils.bg-defaults;
            }

            &:last-child {
                opacity: 1;

                &::after {
                    display: none;
                }
            }
        }
    }
}

@media only screen and (min-width: utils.$tablet1000) {
    .breadcrumbs:has(~ .product-hero) {
        margin-top: 24px;
        margin-bottom: -17px;

        .breadcrumbs__list {
            max-width: 400px;
            flex-wrap: wrap;
            overflow: hidden;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .breadcrumbs {
        margin: 20px 0 38px;

        &__list {
            width: 100%;
            overflow: hidden;
        }
    }

    .breadcrumbs:has(~ .product-hero) {
        margin-bottom: 24px;
    }

    .breadcrumbs:has(~ .brands:where([data-state='empty'], [data-state='result'])) {
        display: none;
    }
}
