@use 'styles/utils';

.filter-button {
    width: 30%;
    display: flex;
    align-items: center;
    text-transform: capitalize;

    .icon {
        --size: 18px;
        margin-right: 10px;
    }

    &__number {
        margin-left: 8px;
        aspect-ratio: 1;
        width: 21px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font: var(--text-lg_500);
        background-color: var(--base_400);
        border-radius: 50%;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .filter-button {
        gap: 0;
        font-size: 0;

        .icon {
            margin-right: 6px;
        }

        &__number {
            margin-left: 0;
            font: var(--text-lg_400);
        }
    }
}
