@use 'styles/utils';

.grid-section {
    &__top {
        position: relative;
        margin-bottom: 56px;
        padding-bottom: 56px;
        display: flex;
        flex-direction: column;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            /* @skip-scaling */
            height: 2px;
            opacity: 0.25;
            background-image: var(--dashed-line);
        }
    }

    &__title {
        margin-bottom: 16px;
    }

    &__links-list-wrapper {
        margin: 0 auto;
        padding: 0 var(--container-mx);
        overflow: auto hidden;
        @include utils.transparent-scroll;
    }

    &__links-list {
        gap: 24px;
        position: relative;
        width: max-content;
        display: flex;
        @include utils.text-300-lg-100;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            /* @skip-scaling */
            height: 1px;
            background-color: var(--base_400_20);
        }

        &-item {
            flex-shrink: 0;
        }
    }

    &__links-list-item {
        position: relative;
        padding-bottom: 15px;
        opacity: 0.5;
        @include utils.transition(opacity);

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            /* @skip-scaling */
            height: 1px;
            opacity: 0;
            background-color: var(--base_400);
            @include utils.transition(opacity);
        }

        &.active {
            opacity: 1;

            &::after {
                opacity: 1;
            }
        }

        @include utils.hover {
            opacity: 0.75;

            &::after {
                opacity: 0.75;
            }
        }
    }

    &__body-wrapper {
        gap: 100px;
        display: flex;
        flex-direction: column;
    }

    &__body {
        grid-template-columns: repeat(2, 13.35%) 11.27% 1fr 11.27% repeat(2, 13.35%);
        grid-auto-rows: 660px 170px 660px;
        gap: 100px 24px;
        display: grid;

        &-item {
            grid-column: span 4;
        }

        &-item:where(:nth-child(5n + 2), :nth-child(5n + 3)) {
            grid-column: span 3;
            grid-row: span 2;
            display: flex;
            flex-direction: column;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .grid-section {
        &__top {
            margin-bottom: 32px;
            padding-bottom: 0;
            &::after {
                display: none;
            }
        }

        &__body-wrapper {
            gap: 40px;
        }

        &__body {
            gap: 24px;
            display: flex;
            flex-direction: column;
        }

        &__links-list-wrapper {
            padding: 0;
        }
    }
}
