@use 'styles/utils';

.button {
    gap: 16px;
    padding: 0 32px;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--base_100);
    @include utils.text-200-th-100-upper;
    background-color: var(--base_400);
    border-radius: 50px;
    border-color: var(--base_100);
    @include utils.transition((color, background-color, border-color));

    &:hover {
        color: var(--base_400);
        background-color: var(--base_100);
        border-color: var(--base_400);

        &::after {
            filter: var(--filter-base_400);
        }
    }

    &:disabled {
        background-color: var(--base_300);
    }

    &--arrow {
        &::after {
            content: '';
            width: 76px;
            height: 38px;
            filter: var(--filter-base_100);
            background-image: url('assets/icons/arrow-right.svg');
            @include utils.bg-defaults;
            @include utils.transition((filter));
        }
    }

    &--outline {
        color: var(--base_100);
        background: transparent;
        border-width: 1px;
    }

    &--light {
        color: var(--base_400);
        background-color: var(--base_100);
        border-color: var(--base_400);

        &--outline {
            background: transparent;
        }

        &--arrow::after {
            filter: var(--filter-base_400);
        }

        &:hover {
            color: var(--base_100);
            background-color: var(--base_400);
            border-color: var(--base_100);

            &::after {
                filter: var(--filter-base_100);
            }
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .button {
        height: 60px;

        &--arrow::after {
            width: 53px;
            height: 27px;
        }
    }
}
