@use 'styles/utils';

.circle-button {
    aspect-ratio: 1;
    width: 64px;
    flex-shrink: 0;
    border-radius: 50%;

    .icon {
        aspect-ratio: 1;
        filter: var(--filter-base_400);
        width: 30%;
    }

    &--outlined {
        border: 1px solid var(--base_400_20);
    }

    &--filled {
        background-color: white;
    }

    &--big {
        width: 80px;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .circle-button {
        &--medium {
            width: 48px;
        }
    }
}
