@use 'styles/utils';

.circle-button {
    aspect-ratio: 1;
    width: 64px;
    flex-shrink: 0;
    justify-items: center;
    border-radius: 50%;

    .icon {
        aspect-ratio: 1;
        width: 24px;
        filter: var(--filter-base_400);
    }

    &--outlined {
        border: 1px solid var(--base_400_20);
    }

    &--filled {
        background-color: white;
        @include utils.transition(background-color);

        &:hover {
            background-color: var(--base_400);
            @include utils.transition(background-color);

            .icon {
                filter: var(--filter-base_100);
            }
        }
    }

    &--big {
        width: 80px;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .circle-button {
        width: 48px;

        .icon {
            width: 20px;
        }
    }
}
