@use 'styles/utils';

.close-btn {
    position: absolute;
    width: 100px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base_300);
    border-radius: 50px 0 0 50px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        translate: 5px 0;
        /* @skip-scaling */
        width: 1px;
        height: 32px;
        background-color: var(--base_100);
        @include utils.transition(background-color);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            background-color: var(--base_100);
        }
    }
}

@media only screen and (max-width: 1000px) {
    .close-btn {
        padding-top: 23px;
        width: 72px;
        height: 70px;
        border-radius: 50px 50px 0 0;

        &::before,
        &::after {
            translate: 0 -5px;
            height: 24px;
        }
    }
}
