@use 'styles/utils';

.close-btn {
    position: absolute;
    padding-left: 50px;
    width: 136px;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: var(--base_300);
    border-radius: 50px;

    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: var(--base_100);
        @include utils.transition(background-color);
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover {
        &::before,
        &::after {
            background-color: var(--base_100);
        }
    }
}

.close-btn_bg {
    @extend .close-btn;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.08),
        0 10px 20px rgba(0, 0, 0, 0.06);
    background-color: #ffffff;
    border-radius: 50%;

    &::before,
    &::after {
        width: 2px;
        height: 20px;
    }
}

@media only screen and (max-width: 1000px) {
    .close-btn {
        padding-left: 28px;
        width: 104px;
        height: 72px;
        justify-content: start;

        &::before,
        &::after {
            height: 24px;
        }
    }
}
