@use 'styles/utils';

.fast-cart-popup {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__form {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__button {
        margin-top: auto;
    }
}
