@use 'styles/utils';

.shops-popup {
    &__map {
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
    }

    &__inner {
        display: flex;
        flex-direction: column;
    }

    .close-btn {
        z-index: 1;
    }

    &__button {
        margin-top: auto;
        cursor: pointer;
    }

    .shops__item {
        position: absolute;
        top: 0;
        left: 0;
        padding: 48px 48px 38px;
        width: 100%;
        height: fit-content;
        opacity: 0;
        visibility: hidden;

        &._active {
            opacity: 1;
            visibility: visible;
        }
        &-image {
            &-wrapper {
                margin-bottom: 2px;
                height: 240px;
                border-radius: 4px;

                &::after {
                    content: none;
                }
            }
        }

        &-info {
            position: static;
            z-index: 0;
            translate: 0;
            margin-top: 32px;
            padding: 0;
            width: 100%;
            align-items: start;
            background-color: transparent;
        }
    }

    &__button {
        z-index: 1;
    }

    &__marker {
        width: 54px;
        height: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--base_100);
        border-radius: 100%;

        &::after {
            content: '';
            @include utils.bg-defaults();
            width: 14.55px;
            height: 17.89px;
            filter: var(--filter-base_400);
            background-image: url('assets/icons/B.svg');
        }

        &._active {
            background-color: var(--base_400);

            &::after {
                filter: var(--base_100);
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .shops-popup {
        .shops__item {
            padding: 28px;
            &-image {
                &-wrapper {
                    display: none;
                }
            }

            &-info {
                margin-top: 0;
            }
        }
    }
}

@media only screen and (min-width: 2000px) {
    .shops-popup {
        .shops__item-image-wrapper {
            height: 360px;
        }
    }
}
