extends layout/page

block append head
    link(href=require('styles/catalog.scss'), rel='stylesheet')

block main
    include components/catalog/catalog

block append scripts
    script(src=require('scripts/catalog.ts'))
