extends layout/page

block append head
    link(href=require('./main-page.styles.scss'), rel='stylesheet')

block append main
    include components/main-hero/main-hero
    include components/gift-card/gift-card

block append scripts
    script(src=require('./main-page.ts'))
