include layout/utils

-
    var slides = [
        {
            title: 'новая коллекция нижнего белья',
            buttonText: 'перейти в каталог',
            buttonLink: '',
            image: require('assets/content/main-hero/1.png')
        },{
            title: '-50% на вторые трусики',
            buttonText: 'перейти в каталог',
            buttonLink: '',
            image: require('assets/content/main-hero/2.png')
        },{
            title: 'Бюстгальтер бандо с тонкой чашкой',
            buttonText: 'перейти в каталог',
            buttonLink: '',
            image: require('assets/content/main-hero/3.png')
        },{
            title: 'Love your body by Bilingua Ladies',
            buttonText: 'перейти в каталог',
            buttonLink: '',
            image: require('assets/content/main-hero/4.png')
        },
    ]

section.main-hero
    .main-hero__slider.swiper
        .swiper-wrapper
            each item in slides
                .main-hero__slide.swiper-slide
                    +img(item.image).main-hero__slide-image
                    .main-hero__slide-content
                        .main-hero__slide-title= item.title
                        button.main-hero__slide-button
                            +anchor(item.buttonLink)= item.buttonText
        .main-hero__slider-controls
            .main-hero__thumbs-slider
                each item, index in slides
                    .main-hero__thumbs-slide
                        +img(item.image).main-hero__thumbs-slide-image
            .main-hero__slider-pagination
            .main-hero__slide-navigation
                .main-hero__slide-navigation-prev
                .main-hero__slide-navigation-next
