@use 'styles/utils';

.selector {
    position: relative;

    &.opened {
        .selector__button::after {
            rotate: -180deg;
        }

        .selector__list-wrapper {
            opacity: 1;
            visibility: visible;
        }
    }

    &__button {
        gap: 12px;
        display: flex;
        align-items: center;
        font: var(--text-lg_300);

        &::after {
            filter: var(--filter-base_400);
            content: '';
            @include utils.square(20px);
            background-image: url('assets/icons/arrow-short-down.svg');
            @include utils.bg-defaults;
        }
    }

    &__list-wrapper {
        position: absolute;
        z-index: 5;
        top: calc(100% + 20px);
        right: 0;
        padding: 24px;
        width: max-content;
        font: var(--text-lg_500);
        text-transform: uppercase;
        opacity: 0;
        visibility: hidden;
        background-color: white;
        @include utils.transition((visibility, opacity));

        &::after {
            content: '';
            position: absolute;
            top: -10px;
            right: 10px;
            width: 0;
            height: 0;
            border-right: 6px solid transparent;
            border-bottom: 9px solid hsl(0, 0%, 100%);
            border-left: 6px solid transparent;
        }
    }

    &__mobile-top {
        display: none;
    }

    &__list {
        gap: 18px;
        display: flex;
        flex-direction: column;
    }

    &__item {
        gap: 14px;
        display: flex;
        align-items: center;
    }

    &__item-input {
        display: none;
    }

    &__item-circle {
        @include utils.square(28px);
        position: relative;
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid hsl(28, 38%, 31%, 0.2);
        @include utils.transition(border-color);

        &::after {
            content: '';
            position: absolute;
            @include utils.square(39%);
            flex-shrink: 0;
            opacity: 0;
            background-color: var(--base_400);
            border-radius: 50%;
            @include utils.transition(opacity);
        }
    }

    &__item-input:checked + &__item-circle {
        border-color: var(--base_400);

        &::after {
            opacity: 1;
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .selector {
        position: static;

        &::before {
            inset: 0;
            content: '';
            position: fixed;
            z-index: 11;
            width: 100vw;
            height: 100vh;
            opacity: 0;
            visibility: hidden;
            background-color: #000;
            @include utils.transition((visibility, opacity));
        }

        &.opened::before {
            opacity: 0.6;
            visibility: visible;
        }

        &__list-wrapper {
            position: fixed;
            z-index: 15;
            top: unset;
            right: unset;
            bottom: 0;
            left: 0;
            width: 100%;

            &::after {
                display: none;
            }
        }

        &__mobile-top {
            gap: 15px;
            margin-bottom: 32px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__mobile-title {
        }
    }
}
