include layout/utils

-
    var catalog = {
        categoriesList: [
            {
                name: 'Бюстгальтеры',
                icon: require('assets/icons/bra.svg'),
                subcategories: [
                    {
                        type: 'Тип модели',
                        list: [
                            { name: 'Смотреть все', link: '' },
                            { name: 'Балконет', link: '' },
                            { name: 'Треугольник', link: '' },
                            { name: 'Пуш-ап', link: '' },
                            { name: 'Бандо', link: '' },
                            { name: 'Без косточек', link: '' },
                            { name: 'C подкладкой', link: '' },
                            { name: 'Sale', link: '' }
                        ]
                    },
                    {
                        type: 'По чашечке',
                        list: [
                            { name: 'Смотреть все', link: '' },
                            { name: 'Чашки А', link: '' },
                            { name: 'Чашки B', link: '' },
                            { name: 'Чашки C', link: '' },
                            { name: 'Чашки D', link: '' },
                            { name: 'Чашки E', link: '' },
                            { name: 'Чашки F', link: '' },
                        ]
                    },
                    {
                        type: 'Коллекции',
                        list: [
                            { name: 'Смотреть все', link: '' },
                            { name: 'Невидимые', link: '' },
                            { name: 'Базовые', link: '' },
                            { name: 'Для невесты', link: '' },
                            { name: 'Для спорта', link: '' },
                            { name: 'Аксессуары', link: '' },
                        ]
                    }
                ],
                media: [{
                    type: 'article',
                    image: require('assets/content/header-catalog/media/article.png'),
                    title: 'Как подобрать размер бюстгальтера?',
                    link: ''

                },
                    {
                        type: 'video',
                        link: '',
                        title: 'как правильно снять замеры груди'
                    }
                ]
            },
            {
                name: 'Трусики',
                icon: require('assets/icons/panties.svg'),
                subcategories: [
                    {
                        list: [
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                        ]
                    },
                ]
            },
            {
                name: 'Нижнее белье',
                icon: require('assets/icons/lingerie.svg'),
                subcategories: [
                    {
                        list: [
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                        ]
                    },
                ]
            },
            {
                name: 'Very sexy',
                icon: require('assets/icons/hot.svg'),
                subcategories: [
                    {
                        list: [
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                        ]
                    },
                ]
            },
            {
                name: 'Домашняя одежда',
                icon: require('assets/icons/home.svg'),
                subcategories: [
                    {
                        list: [
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                            { name: 'Категория', link: '' },
                        ]
                    },
                ]
            },
            {
                name: 'Коллекции',
                icon: require('assets/icons/collection.svg'),
                subcategories: [
                    {
                        list: [
                            { name: 'Смотреть все', link: '' },
                            { name: 'Невидимые', link: '' },
                            { name: 'Базовые', link: '' },
                            { name: 'Для невесты', link: '' },
                            { name: 'Для спорта', link: '' },
                            { name: 'Аксессуары', link: '' },
                        ]
                    },
                ]
            },],
        offers: [
            {
                image: require('assets/content/header-catalog/offers/1.png'),
                title: 'Бюстгальтер бандо с тонкой чашкой и еще какое- то описание',
                price: 4300
            }, {
                image: require('assets/content/header-catalog/offers/2.png'),
                title: 'Бюстгальтер бандо с тонкой чашкой и еще какое- то описание',
                price: 4300
            }, {
                image: require('assets/content/header-catalog/offers/3.png'),
                title: 'Бюстгальтер бандо с тонкой чашкой и еще какое- то описание',
                price: 4300
            }, {
                image: require('assets/content/header-catalog/offers/4.png'),
                title: 'Бюстгальтер бандо с тонкой чашкой и еще какое- то описание',
                price: 4300
            }, {
                image: require('assets/content/header-catalog/offers/5.png'),
                title: 'Бюстгальтер бандо с тонкой чашкой и еще какое- то описание',
                price: 4300
            },
        ]
    }


.header-catalog
    .container
        ul.header-catalog__list
            each category in catalog.categoriesList
                li.header-catalog__item= category.name
                    +img(category.icon).header-catalog__item-icon
                    .header-catalog__item-content
                        each list in category.subcategories
                            if list.type
                                ul.header-catalog__item-subcategory-list
                                    li.header-catalog__item-subcategory-type= list.type
                                    each item in list.list
                                        li.header-catalog__item-subcategory-item
                                            +anchor(item.link)= item.name
                            else
                                ul.header-catalog__item-subcategory-list
                                    each item in list.list
                                        li.header-catalog__item-subcategory-item
                                            +anchor(item.link)= item.name
                        .header-catalog__item-media
                            if category.media
                                each media in category.media
                                    .header-catalog__item-media-container
                                        +img(media.image)
                                        +anchor(media.link)
                                        .header-catalog__item-media-title
