@use 'styles/utils';

.brands-filter {
    gap: 24px;
    display: flex;
    flex-direction: column;

    &__body {
        gap: 24px;
        height: 236px;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        @include utils.styled-scroll;

        &-item {
            gap: 16px;
            display: flex;
            flex-direction: column;
        }

        &-item-title {
            position: sticky;
            z-index: 1;
            top: 0;
            @include utils.text-200-th-100-upper;
            background-color: var(--base_200);
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .brands-filter {
        height: 100%;

        &__body {
            height: 100%;
        }
    }

    .tab-item .brands-filter__body {
        margin-bottom: -24px;
        padding-bottom: 24px;
    }
}
