@use 'styles/utils';

.catalog:has(.catalog__subcategories-list-wrapper) {
    .filter {
        margin-top: 56px;
    }
}

.filter {
    gap: 15px;
    position: relative;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include utils.text-300-lg-100;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* @skip-scaling */
        height: 1px;
        opacity: 0.25;
        background-image: var(--dashed-line);
        @include utils.bg-defaults;
    }

    &__amount {
        @include utils.only-mobile(flex);
    }

    .selector {
        width: 30%;
        justify-content: flex-end;
        @include utils.only-desktop(flex);
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .filter {
        margin-top: 32px;
        padding-top: 16px;

        &__inner {
            padding: 18px 0;
        }

        .filter-button,
        .view-switcher {
            width: 15%;
        }

        .view-switcher {
            justify-content: flex-end;
        }
    }
}
