@use 'styles/utils';

.slider {
    .container {
        position: relative;
    }

    &__title {
        margin-bottom: 32px;
    }

    .swiper {
        position: static;
    }

    &__navigation {
        gap: 8px;
        position: absolute;
        top: 0;
        right: var(--container-mx);
        display: flex;

        &-prev,
        &-next {
            padding: 12px;
            cursor: pointer;
            background-color: transparent;
            border-radius: 100%;
            border: 1px solid var(--base_400);
            transition: background-color 0.3s ease-in-out;

            .icon {
                width: 44px;
                height: 22px;

                @media screen and (min-width: 2000px) {
                    width: 50px;
                    height: 30px;
                }
            }
        }

        &-prev {
            rotate: 180deg;
        }

        &-prev:hover,
        &-next:hover {
            background-color: var(--base_400);
            transition: background-color 0.3s ease-in-out;

            .icon {
                filter: var(--filter-base_100);
            }
        }
    }

    .product-card__top {
        height: 640px;
    }
}

@media only screen and (max-width: 1000px) {
    .slider {
        &__title {
            margin-bottom: 24px;
        }

        &__navigation {
            display: none;
        }

        &__swiper {
            overflow: visible;
        }

        .product-card__top {
            height: 360px;
        }
    }
}
