@use 'styles/utils';

.tab-item {
    display: flex;
    flex-direction: column;

    &__line {
        width: 100%;
        /* @skip-scaling */
        height: 1px;
        opacity: 0.25;
        background-image: var(--dashed-line);
        @include utils.bg-defaults;
    }

    &__title-wrapper {
        gap: 20px;
        padding: 18px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        gap: 8px;
        display: flex;
        align-items: center;
        @include utils.text-200-lg-100;

        span {
            opacity: 0.6;
        }
    }

    &__body-wrapper {
        display: none;
        flex-direction: column;
    }

    &__body {
        padding-bottom: 24px;
    }

    &__mobile-title {
        @include utils.only-mobile(flex);
    }
}

.tab-item.opened:not(.tab-item--not-interactive) .tab-item {
    &__title-wrapper {
        padding-bottom: 24px;

        .icon {
            rotate: -180deg;
        }
    }

    &__body-wrapper {
        display: flex;
    }

    &__mobile-title {
        margin-bottom: 40px;
        justify-content: space-between;
        align-items: center;
    }

    &__mobile-back-button {
        gap: 12px;
        display: flex;
        align-items: center;
        @include utils.header-300;

        &::before {
            content: '';
            width: 20px;
            height: 9px;
            background-image: url('assets/icons/arrow-left.svg');
            @include utils.bg-defaults;
        }
    }

    &__mobile-reset-button {
        gap: 4px;
        display: flex;
        align-items: center;
        @include utils.text-400-th-100-upper;
        opacity: 0.7;

        &::before {
            content: '';
            aspect-ratio: 1;
            width: 20px;
            background-image: url('assets/icons/update.svg');
            @include utils.bg-defaults;
        }
    }
}

.tab-item--not-interactive {
    .tab-item__body {
        padding: 18px 0;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .tab-item:not(.tab-item--not-interactive, .tab-item--plain) .tab-item {
        &__title-wrapper {
            .icon {
                rotate: -90deg;
            }
        }

        &__body-wrapper {
            position: absolute;
            z-index: 1;
            inset: 0;
            background-color: var(--base_200);
        }

        &__body {
            height: 1px;
            flex-grow: 1;
            overflow-y: auto;
        }
    }
}
