include layout/utils

mixin tab-item(title)
    .tab-item
        .tab-item__title-wrapper
            .tab-item__title= title
            .icon.icon--arrow-short-bottom
        .tab-item__body
            block

mixin tab-item--not-interactive
    .tab-item.tab-item--not-interactive
        block
