@use 'styles/utils';

.tab-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        /* @skip-scaling */
        height: 1px;
        opacity: 0.25;
        background-image: var(--dashed-line);
        @include utils.bg-defaults;
    }

    &__title-wrapper {
        gap: 20px;
        padding: 18px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        gap: 8px;
        display: flex;
        align-items: center;
        font: var(--text-lg_200);
    }

    &__body {
        padding-bottom: 24px;
        display: none;
    }
}

.tab-item.opened:not(.tab-item--not-interactive) .tab-item {
    &__title-wrapper {
        padding-bottom: 24px;

        .icon {
            rotate: -90deg;
        }
    }

    &__body {
        display: block;
    }
}

.tab-item--not-interactive {
    padding: 18px 0;
}
