@use 'styles/utils';

.user-data {
    margin-top: 12px;
    padding-bottom: 100px;

    &__text {
        @include utils.text-300-th-100;

        span {
            @include utils.text-300-lg-100;
        }
    }
    &__form {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
