@use 'styles/utils';

.courier-popup {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__location {
        margin-top: 40px;
        @include utils.text-400-th-100-upper;
        gap: 8px;
        margin-bottom: 28px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        align-items: center;
        opacity: 0.7;

        .icon {
            @include utils.square(18px);
        }
    }

    &__inputs {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__button {
        margin-top: auto;
    }

    &__address-wrapper {
        position: relative;
        width: 100%;
    }
    &__address-list {
        gap: 10px;
        padding: 20px;
        width: calc(100% - 10px);
        height: 111px;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &::-webkit-scrollbar {
            width: 2px;
            background-color: var(--base_400_20);
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--base_400);
        }

        &::-webkit-scrollbar-button {
            background-color: var(--base_100);
        }

        &-wrapper {
            position: absolute;
            z-index: 2;
            bottom: 0;
            transform: translateY(calc(100% + 20px));
            width: 100%;
            display: none;
            background-color: var(--base_100);

            &._visible {
                display: block;
            }
        }
    }

    &__address-item {
        cursor: pointer;
    }
}

@media only screen and (max-width: 1000px) {
    .courier-popup {
        &__inner {
            height: 90svh;

            .input:has(.input--half) {
                width: 100%;
            }
        }

        &__location {
            margin: 32px 0;
        }
    }
}
