@use 'styles/utils';

.range-slider {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__title {
        margin-bottom: 30px;
        line-height: 1.3;
        @include utils.text-300-lg-100-upper;
    }

    &__inputs-wrapper {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__input {
        -moz-appearance: textfield;
        width: 140px;
        @include utils.text-200-lg-100;
        text-align: left;
        background-color: transparent;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &--to {
            text-align: right;
        }
    }

    &__track {
        position: relative;
        /* @skip-scaling */
        margin: 7px 0;
        width: 100%;
        /* @skip-scaling */
        height: 2px;
        background-color: var(--base_400_20);
    }

    &__line {
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        background-color: var(--base_400);
    }

    &__thumb {
        position: absolute;
        z-index: 1;
        top: 50%;
        translate: 0 -50%;
        /* @skip-scaling */
        width: 13px;
        /* @skip-scaling */
        height: 13px;
        background-color: var(--base_400);
        border-radius: 50%;

        &:hover {
            cursor: grab;
            background-color: var(--base_300);
        }
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .range-slider {
        &__title {
            margin-bottom: 20px;
            font-size: 1.2rem;
        }

        &__input-wrapper {
            margin-bottom: 16px;
        }

        &__input {
            width: 110px;
        }
    }
}
