include layout/utils

mixin popup(name)
    - var className = `${name}-popup`

    .popup(class=className, data-popup=name)&attributes(attributes)
        +btn('close-popup').close-btn
        div(class={ popup__inner: true, [`${className}__inner`]: true })
            block
