@use 'styles/utils';

.view-switcher {
    gap: 12px;
    display: flex;

    &__button {
        aspect-ratio: 1;
        width: 18px;
        @include utils.transition(opacity);
    }

    &:has(&__button.active) &__button:not(.active) {
        opacity: 0.3;
    }
}

@media only screen and (max-width: utils.$tablet1000) {
    .view-switcher {
        justify-content: flex-end;

        &__button.active {
            display: none;
        }

        &:has(&__button.active) &__button:not(.active) {
            opacity: 1;
        }
    }
}
