include layout/utils

.view-switcher
    button.view-switcher__button.icon.icon--grid-view.active(data-action='view', data-view='grid')
    button.view-switcher__button.icon.icon--columns-view(data-action='view', data-view='columns')
