@use 'styles/utils';

.text-amount {
    gap: 8px;
    display: flex;
    align-items: center;
    opacity: 0.7;

    &::before {
        content: '';
        aspect-ratio: 1;
        width: 12px;
        flex-shrink: 0;
        background-image: url('assets/icons/star.svg');
        @include utils.bg-defaults;
    }
}
