@use 'styles/utils';

.cart {
    &__inner {
        position: relative;

        &._empty {
            height: 100%;
            display: flex;
            flex-direction: column;
            .cart__list,
            .cart__info {
                display: none;
            }

            .slider,
            .cart__empty-message {
                display: block;
            }
        }
    }

    &__empty-message {
        width: 100%;
        max-width: 306px;
        display: none;
        font: var(--text_200);
    }

    &__header {
        margin-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-link {
            gap: 4px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            font: var(--text_400);
            letter-spacing: 0.02rem;
            text-transform: uppercase;
            opacity: 0.7;
        }
    }

    &__title {
        font: var(--header_300);
        letter-spacing: 0.02rem;
        text-transform: uppercase;

        span {
            translate: 100% -100%;
            font: var(--text_300);
            vertical-align: text-top;
        }
    }

    &__list {
        gap: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__info {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 32px 48px;
        background-color: var(--base_200);

        &-item {
            margin-bottom: 6px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font: var(--text_400);

            span {
                opacity: 0.7;
            }

            &.cart__delivery._empty {
                span {
                    display: none;
                }

                &::after {
                    content: 'Рассчитывается при оформлении';
                    opacity: 0.7;
                }
            }
            &.cart__discount._empty {
                display: none;
            }
        }

        &._sticky {
            border-top: 1px solid hsla(7, 15%, 34%, 0.2);
            .cart__info-item:is(:not(.cart__price)) {
                display: none;
            }
        }
    }

    &__price {
        margin-bottom: 16px;
        font-family: var(--geologica);
        font-size: 2rem;
        letter-spacing: 0.02rem;
        line-height: 120%;
        text-transform: uppercase;

        span {
            opacity: 1;
        }
    }

    &__promo {
        margin: 36px 0;

        &-input {
            padding-bottom: 17px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-family: var(--geologica);
            font-size: 1.6rem;
            line-height: 125%;
            text-transform: uppercase;
            border-bottom: 1px solid hsl(7, 15%, 34%, 0.25);

            input::placeholder {
                line-height: 125%;
                text-transform: uppercase;
            }
        }
    }

    .slider {
        margin-top: auto;
        margin-bottom: 0;
        display: none;

        &__title {
            margin-bottom: 16px;
            font-family: var(--forum);
            font-size: 2rem;
            line-height: 110%;
        }

        .product-card {
            &__top {
                height: 171px;
            }

            &__tag,
            &__brand-wrapper,
            &__favorite-button,
            &__cart-button,
            &__slide-button {
                display: none;
            }

            &__title {
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
            }
        }

        &__navigation-prev,
        &__navigation-next {
            padding: 0;
            border: none;

            .icon {
                width: 36px;
                height: 18px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    .cart {
        &__inner {
            padding: 28px;
            width: 100%;
            min-height: 90svh;

            &._empty {
                height: fit-content;
                min-height: fit-content;
                .slider {
                    margin-top: 80px;
                    .container {
                        padding-left: 0;
                    }

                    &__slide {
                        max-width: 144px;
                    }
                }
            }
        }

        &__empty-message {
            max-width: 234px;
        }

        &__title {
            font: var(--header_200);

            span {
                font-size: 1.4rem;
            }
        }

        &__list {
            gap: 16px;
        }

        &__price {
            font-size: 1.6rem;
        }

        &__info {
            padding: 28px;
        }

        &__promo {
            margin: 24px 0 32px;

            &-input {
                padding-bottom: 12px;
                font-size: 1.4rem;
            }

            input::placeholder {
                font-size: 1.4rem;
            }
        }

        &__button {
            justify-content: space-between;
        }
    }
}
