include layout/utils
include features/popup/popup
include ui/slider/slider
include ui/product-item/product-item

+popup('cart', 'cart')
    .cart__header
        .cart__title Корзина
            span 2
        button.cart__header-link(data-action='popup', data-popup='loyalty-club') клуб лояльности
            .icon.icon--loyalty-star
    .cart__list
    <!-- разметка для товара в корзине. Не удалять -->
    +product-item({container: 'cart'})._layout
    <!-- конец -->
    .cart__info
        .cart__price.cart__info-item(data-info='price') Итого:
            span
        .cart__delivery.cart__info-item(data-info='delivery') Доставка:
            span
        .cart__discount.cart__info-item(data-info='discount') Cкидка:
            span
        form.cart__promo(novalidate, data-handler='path.php')
            label.cart__promo-input
                input(type='text', name='pomocode', placeholder='Введите промокод', required)
                button.icon.icon--arrow-short-right(type='submit')
        .cart__button.button Перейти к оформлению
    .cart__empty-message В данный момент в корзине ничего нет!
    +slider({title: 'недавно смотрели', cards: 'product-card'})
include ui/popups/loyalty-club/loyalty-club
