@use 'styles/utils';

html {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-size: 62.5%;
}

.container {
    margin: 0 auto;
    max-width: 1560px;

    @media screen and (max-width: 1000px) {
        padding: 0 28px;
    }

    @media screen and (min-width: 1920px) {
        max-width: 90%;
    }
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

body {
    overflow-x: clip;
    background-color: var(--base_200);

    &:has(.main-hero) {
        .header {
            border-bottom: none;

            &:not(._active):not(._opened) {
                color: var(--base_100);
                background-color: transparent;

                .header__geo-button,
                .header__logo,
                .header__buttons button,
                .header__mobile-search-button,
                .header__mobile-burger {
                    filter: var(--filter-base_100);
                }
            }
        }
    }
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

.content {
    p + p {
        margin-top: 15px;
    }

    @media only screen and (max-width: utils.$tablet1200) {
        p + p {
            margin-top: 24px;
        }
    }
}
