@use 'styles/utils';

html {
    scroll-behavior: smooth;
    overflow-x: clip;
    font-size: 62.5%;
}

.container {
    --container-mx: 60px;
    --negative-container-mx: -60px;
    margin: 0 auto;
    padding: 0 var(--container-mx);
    max-width: 1680px;

    @media screen and (max-width: 1000px) {
        --container-mx: 28px;
        --negative-container-mx: -28px;
        padding: 0 var(--container-mx);
    }

    @media screen and (min-width: 2000px) {
        max-width: 1920px;
    }
}

.section {
    margin: 160px 0;

    &:first-of-type:not(.article, .static-page) {
        margin-top: 35px;
    }

    @media only screen and (max-width: utils.$tablet1000) {
        margin: 80px 0;
    }
}

.section-title {
    @include utils.header-200;
}

.breadcrumbs + .section:not(.article, .static-page) {
    margin-top: 0;
}

.main-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    flex: 1 1 0;
}

.hidden {
    display: none;
}

body {
    overflow-x: clip;
    color: var(--base_400);
    background-color: var(--base_200);
    @include utils.text-300-th-100;
}

html.disable-scroll {
    overflow: clip;

    body {
        overflow: clip;
    }
}

.swiper,
.swiper-wrapper,
.swiper-slide {
    box-sizing: border-box !important;
}

.swiper-button-disabled {
    opacity: 0.5;
}

.content {
    p + p {
        margin-top: 15px;
    }

    @media only screen and (max-width: utils.$tablet1200) {
        p + p {
            margin-top: 24px;
        }
    }
}

[class*='ymaps-2'][class*='-ground-pane'] {
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.1 0.1 0.1 0 0 0.1 0.1 0.1 0 0 0.1 0.1 0.1 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Chrome 19+ & Safari 6+ */
}

@keyframes path2 {
    from {
        stroke-dashoffset: 400;
        stroke-dasharray: 200;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    to {
        stroke-dashoffset: 100;
        stroke-dasharray: 400;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}

@keyframes path {
    0% {
        stroke-dashoffset: 400;
        stroke-dasharray: 200;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        stroke-dashoffset: 100;
        stroke-dasharray: 300;
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
}
